<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="com.newland.plugin.n1-scanner"
            android:value="com.newland.plugins.n1.N1ScannerPlugin" />
    </application>
</manifest>
